* {
margin: 0;
padding: 0;
border: 0;
}
body {
  background: #e40414
}
p {
  font-family: "Segoe UI";
  color: white;
  font-size: 160%;
  font-style: normal;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}
h3 {
  font-family: "Segoe UI";
  color: white;
  font-size: 175%;
  line-height: 155%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #5b7dcf
}
img {
  display: block;
  margin: 0 auto;
  max-width: initial%;
  height: auto;
  width: inherit;
  margin-bottom: 4px;
}
#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}
header {
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
}
header #logo img {
  margin: 10px;
  float: left;
  width: 250px;
}
nav{
  float: right;
  padding: 50px 20px 0 0;

}
#menu-icon {
  display: none;
  font-size: 50px;
}
ul{
  list-style: none;
}
/*cambia el formato de los titulos de navegacion*/
nav ul li {
  font-family: "Segoe UI";
  font-size: 200%;
  display: inline-block;
  float: left;
  padding: 10px;
}
/*cambia el color del primer titulo*/
nav ul li a{
  color: white;
}
.one-second {
  width: 47.25%;
  float: left;
  padding: 10px;
  text-align: center;
}
.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #bd0003;
  border-radius: 10px;
  text-align: center;
  margin-top: 3%;
}
.icon-wrap i{
  text-align: center;
  color: white;
  font-size: 450%;
  padding: 10%;
}
.left-col {
  float: center;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}
.left-col i {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #bd0003;
  border-radius: 10px;
  text-align: center;
  margin-top: 3%;
}
.sidebar {
  float: center;
  margin: 0 auto;
  height: auto;
  padding: 18px;
  width: 540px;
}
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}
.clearfix-padding {
  clear: both;
  padding: 2%;
}
footer {
  background: white;
  width: 100%;
  overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}
.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
}
.footer-nav {
  text-align: right;
}
.footer-nav a {
  font-family: "Segoe UI";
  font-size: 200%;
  color: #ff0000;
  font-weight: 300;
}
.footer-nav a: hover {
  color: #bd0003;
}
.social li {
  display: inline;
}
.social i {
  font-size: 420%;
  margin: 3%;
  padding: 5%;
  color: #ff0000;
}
.footer-second {
  border-top: 1px solid #bd0003;
  text-align: center;
  margin: 0;
}
.footer-second p, .footer-second a {
  text-align: center;
  color: #ff0000;
  font: 160%;
  line-height: 155%;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 130%;
  }
  h3 {
    font-size: 150%;
  }
  header {
    height: 200px;
    position: relative;
  }
  header #logo {
    margin: 15px 0 20px -25px;
  }
  #menu-icon {
    display: inline-block;
  }
  nav:hover ul {
    display: block;
  }
  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #ff0000;
    border: 1px solid #ff0000;
    right: 20px;
    width: 30%;
    opacity: .95;
  }
  nav li {
    text-align: center;
    width: 100%;
  }
  .one-third {
    float: left;
    width: 100%;
  }
  .icon-wrap {
    height: 80px;
    width: 80px;
    margin-top: 3%;
  }
  .icon-wrap i {
    font-size: 250%;
    padding-top: 27%;
  }
  .left-col {
    width: 100%;
    padding: 0;
  }
  .sidebar {
    width: 100%;
  }
  .one-third-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }
  .icon-text-icon {
    width: 100%;
    padding: 0 0 2% 0;
  }
  .icon-text-text {
    width: 100%;
    padding: 2% 0 0 0;
    font-size: 80%;
  }
}
